
#root {
  font-family: "Oxygen", sans-serif;
  font-weight: 700;
  font-style: normal;
}


/* /////////// header css /////////// */

#header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  padding: 0; /* Remove any default padding */
  margin: 0; /* Remove any default margin */
}

#header h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  height: auto; /* Ensure it adjusts based on image height */
  background-color: black;
}


#header img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  display: block;
  max-height: 35vh;
  max-width: 150vh;
}

/* /////////// homepage css /////////// */

#home-container {
  display: flex;
  justify-content: space-between;
}

h2 {
  display: flex;
  justify-content: center;
}

.content {
  flex: 3; 
  margin-right: 20px;
}

.seasons {
  margin: 5px;
  border-style: solid;
  border-width: 2px;
}

.auditions-sidebar,
.breaking-sidebar {
  padding: 5px;
}

.sidebar {
  flex: 1; 
}

.current-season,
.upcoming-season {
  height: 30%;
  width: 30%;
  padding-left: 30px;
  padding-bottom: 15px;
}

.current,
.upcoming,
.special-updates {
  display: flex;
  justify-content: center;
}

.current-description,
.upcoming-description,
.title,
.date-range,
.tickets-button {
  margin-left: 100px;
  margin-right: 100px;
}